:root {
  --white: #ffffff !important;
  --black: #000000 !important;
  --font-stack: "Arial", sans-serif !important;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--font-stack);
}

@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 500px) {
}
@media only screen and (max-width: 400px) {
}
